@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-modal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.ant-modal-footer {
  display: none;
}
.ant-modal-close {
  display: none;
}
.ant-modal-content {
  background: transparent;
}
.ant-modal-body {
  padding: 0px;
}
.ant-modal-mask {
  background-color:transparent;
}